@charset 'utf-8';





/* 회원관련 */
/*****************************************************************
로그인 : login.php
*****************************************************************/
.np_login {
    overflow: hidden;
    border: 1px solid #eee;
}
/**/
.np_loginBox01 {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    margin: 20px auto 20px;
    border: 0px solid #f00;
}
.np_loginBox01 h3 {
    color: #222;
    font-size: 2.5em;
    font-weight: 100;
}
.np_loginBox01 p {
    margin: 5px 0 20px 0;
}
.np_loginBox01 input[type=text],
.np_loginBox01 input[type=password] {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    margin: 1px;
    padding-left: 10px;
}
.np_loginBox01 .sec01 {
    overflow: hidden;
}
.np_loginBox01 .sec01 .sec_left {
    width: 70%;
    float: left;
}
.np_loginBox01 .sec01 .sec_left input {
    height: 40px;
}
.np_loginBox01 .sec01 .sec_right {
    width: 29.5%;
    float: right;
}
.np_loginBox01 .sec01 .sec_right input[name=login_ok] {
    width: 100%;
    height: 84px;
    background-color: #222;
    border: 1px solid #fff;
    color: #ccc;
}
.np_loginBox01 .sec02 {
    margin-top: 20px;
}
.np_loginBox01 .sec02 ul li {
    text-align: right;
    margin: 1px 0;
    font-size: 0.875em;
    color: #888;
}
.np_loginBox01 .sec02 .btn-sm {
    width: 29.5%;
    margin-left: 10px;
    text-align: right;
}

/**/
.np_loginBox02 {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    margin: 30px auto;
    border-top: 1px dotted #888;
    overflow: hidden;
}
.np_loginBox02 h3 {
    margin: 20px 0 0;
    font-size: 1.250em;
}
.np_loginBox02 p {
    display: inline-block;
    margin: 0 0 20px 0;
    color: #888;
}
.np_loginBox02 ul {
    overflow: hidden;
}
.np_loginBox02 li span {
    width: 29.5%;
    line-height: 40px;
    display: inline-block;
    background-color: #ddd;
    text-align: center;
    margin: 1px 0;
}
.np_loginBox02 li input {
    width: 70%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 10px;
    float: right;
    margin: 1px 0;
}
.np_loginBox02 .np_order_ok button {
    width: 29.5%;
    float: right;
    text-align: right;
    margin: 10px 0;
}

@media (max-width:768px) {
    .np_login {
        border: none;
    }
    .np_loginBox01,
    .np_loginBox02 {
        width: 100%;
        padding: 0;
    }
}





/*****************************************************************
회원가입 : join.php
*****************************************************************/
.np_join {
    border: 1px solid #eee;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.np_join .sec01 {
    width: 70%;
    margin: 0 auto;
    padding: 40px 20px 0px;
}

.np_join .sec01 h3 {
    font-size: 2.5em;
    font-weight: 100;
    border: 0px solid #ccc;
}

.np_join .sec01 p {
    font-size: 1.0em;
}

.np_join .sec02 {
    overflow: hidden;
    width: 70%;
    margin: 20px auto;
    padding: 0 20px;
}

.np_join .sec_left {
    width: 70%;
    float: left;
}

.np_join .sec_right {
    width: 29.5%;
    float: right;
}

.np_join .sec_left span {
    float: left;
    display: block;
    width: 30%;
    height: 40px;
    line-height: 40px;
    background-color: #ddd;
    margin: 1px 0;
    text-align: center;
}

.np_join input.box {
    height: 40px;
}

.np_join input {
    width: 70%;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin: 1px 0;
}

.np_join input[name=join_ok] {
    width: 100%;
    height: 82px;
    background-color: #333;
    font-size: 1.25em;
    font-weight: 300;
    color: #fff;
    border: 0;
}

@media (max-width:768px) {
    .np_join {
        width: 100%;
        border: none;
    }
    .np_join .sec01,
    .np_join .sec02 {
        width: 100%;
    }
}




/*****************************************************************
회원가입 : join.php : agreement_form
*****************************************************************/
.np_agreement {
    text-align: left;
    border: 0px solid #f00;
}

.np_agreement h5 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px 0;
    border: 0px solid #eee;
}

.np_agreement input {
    float: left;
    margin: 0 10px 10px 0;
}

.np_agreement textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    padding: 30px;
}

.np_agreement input[type=image] {
    text-align: center;
    margin: 20px auto;
}

.np_agreement button {
    width: 150px;
    float: right;
    text-align: right;
    margin: 10px 0;
    padding: 10px 20px;
}

.np_agreement .member_txt td {
    font-size: 1.150em;
/*    border: 10px solid #f00;*/
}

.np_agreement .member_txt input[name=com_member_check_agree],
.np_agreement .member_txt input[name=com_member_check_safe],
.np_agreement .member_txt input[name=com_member_check_collection] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}




/*****************************************************************
회원가입 & 정보수정 : join.php , edit.php : apply_form (입력양식)
*****************************************************************/
.np_apply {
    text-align: left;
    border: 0px solid #eee;
}

.np_apply h5 {
    font-size: 1.25em;
    font-weight: 400;
    padding: 10px 0;
    margin-top: 20px;
    border: 0px solid #eee;
}

.np_apply .sec01 {
    background-color: #fff;
    padding: 10px 0;
}

.np_apply .sec01 h4 {
    font-size: 1.25em;
    font-weight: 100;
    padding: 10px 0;
    border: 0px solid #ccc;
}

.np_apply .sec01 p {
    padding: 0px;
}

.np_apply .sec02 {
    margin-top: 30px;
    font-size: 0.875em;
}

.np_apply .sec02 .member_txt tr td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.np_apply .sec02 .member_td_bgcolor {
    width: 20%;
}

.np_apply .sec02 input,
.np_apply .sec02 select {
    max-width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    margin: 1px 0;
    padding-left: 5px;
}

.np_apply .sec02 .t_m1 {
    border-top: 1px solid #222;
}

.np_apply .sec02 #dl1 dt {
    font-size: 1.5em;
    font-weight: 400;
}

.np_apply .sec02 input[name=addr],
.np_apply .sec02 input[name=addr2] {
    width: 100%;
}

.np_apply .sec02 input[name=addr_post1],
.np_apply .sec02 input[name^=phone]
.np_apply .sec02 input[name^=mobile] {
    width: 65px;
}

.np_apply .sec02 input[name=member_img] {
    border: none;
}

.np_apply .sec03 {
    text-align: center;
    margin: 30px 0;
}

.np_apply .sec03 .btn-default {
    padding: 10px 20px;
}

.np_apply .sec03 a {
    vertical-align: top;
}

@media (max-width:768px) {
    .np_apply .sec02 input,
    .np_apply .sec02 select {
        width: 100%;
    }
    
    .np_apply .sec02 input[type=radio] {
        width: 15px;
    }
}




/*****************************************************************
회원가입 : join.php : apply_result_form (가입완료)
*****************************************************************/
.np_apply_result {}

.np_apply_result .sec01 {
    border: 1px solid #eee;
    padding: 50px 10px;
}

.np_apply_result .sec01 h3 {
    font-size: 2.5em;
    font-weight: 100;
    padding: 10px 0;
    border: 0px solid #ccc;
}

.np_apply_result .sec01 p {
    padding: 10px;
}

.np_apply_result .sec01 strong {
    font-size: 1.5em;
    font-weight: 500;
    color: #5b95c9;
}

.np_apply_result .sec02 {
    margin: 20px 0 30px;
    overflow: hidden;
}

.np_apply_result .sec02 button {
    width: 150px;
    float: right;
    text-align: right;
    margin: 10px 0;
}




/*****************************************************************
회원탈퇴 : secede
*****************************************************************/
.np_out {
    text-align: left;
}
.np_out .sec01 .tit {
    color: #111;
    border-bottom: 1px solid #222;
    padding: 10px 0;
    margin-bottom: 10px;
}
.np_out .sec01 table {
    border: 1px solid #ddd;
    border-width: 1px 0;
}
.np_out .sec01 tr td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.np_out .sec01 tr td:first-child {
    width: 25%;
    background-color: #eee;
    text-align: center;
}
.np_out .sec01 input {
    height: 34px;
    padding: 5px;
}

.np_out .sec02 {
    margin: 50px 0;
    width: 100%;
    display: table;
}
.np_out .sec02 .tit {
    color: #111;
    border-bottom: 1px solid #222;
    padding: 10px 0;
    margin-bottom: 10px;
}

.np_out .sec03 a {
    vertical-align: top;
}


.np_out h5 {
    font-size: 1.0em;
    font-weight: 400;
    color: #222;
    padding: 10px 0;
    margin-top: 20px;
}

.np_out input {
    float: left;
    margin-right: 10px;
}

.np_out .sec03 {
    margin-top: 40px;
}

.np_out .sec03 input {
    float: none;
    margin-right: 0px;
}












/*****************************************************************
하단영역 : 이용안내
*****************************************************************/
.np_siteinfo .rull_site {
    height: 600px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 20px;
    line-height: 200%;
}

.np_siteinfo .rull_site #use {
    text-align: right;
}

.np_siteinfo .rull_site dl {
    
}

.np_siteinfo .rull_site dt {
    margin-top: 30px;
}

.np_siteinfo .rull_site dd {
}



/*****************************************************************
하단영역 : 서비스이용약관
*****************************************************************/
.np_siteinfo .service_rull {
    height: 600px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 20px;
    line-height: 200%;
}

.np_siteinfo .service_rull p.tit {
    margin-top: 30px;
}



/*****************************************************************
하단영역 : 개인정보취급방침
*****************************************************************/
.np_siteinfo .personal {
    height: 600px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 20px;
    line-height: 200%;
}

.np_siteinfo .personal .summary {
    margin-top: 30px;
    color: #888;
}

.np_siteinfo .personal h3 {
    margin-top: 30px;
    font-size: 1.125em;
}



/*****************************************************************
하단영역 : 이메일무단수집거부
*****************************************************************/
.np_siteinfo .email {
    padding: 20px 0 50px;
    line-height: 300%;
}














/*****************************************************************
게시판 공유하기
*****************************************************************/
.link-icon { position: relative; display: inline-block; width: auto;    font-size: 14px; font-weight: 500; color: #333; margin-right: 10px; padding-top: 50px; }
.link-icon.twitter { background-image: url(./images/icon-twitter.png); background-repeat: no-repeat; }
.link-icon.facebook { background-image: url(./images/icon-facebook.png); background-repeat: no-repeat; } 
.link-icon.kakao { background-image: url(./images/icon-kakao.png); background-repeat: no-repeat; }




/*****************************************************************
게시판 공통 전체
*****************************************************************/
.n_board_txt > table,
.n_board_gallery > table {
    width: 100%;
    border: 0px solid #f00;
}



/*****************************************************************
글목록 : 전체선택(관리자로그인시)
*****************************************************************/
.n_board_txt #check_all,
.n_board_gallery #check_all {
    width: 18px;
    height: 18px;
    margin: 5px;
}


/*****************************************************************
글보기, 글쓰기 : tr > td(좌측/우측)
*****************************************************************/
.n_board_txt .board_bgcolor,
.n_board_gallery .board_bgcolor {
    width: 20%;
    padding: 8px;
    background-color: #f7f7f7;
    border-top: 1px solid #fff;
    text-align: center;
}
.n_board_txt .board_desc,
.n_board_gallery .board_desc {
    width: auto;
    text-align: left;
    border-top: 1px solid #fff;
}


/*****************************************************************
글쓰기 : 하단 공지글체크
*****************************************************************/
.n_board_txt .board_desc input[type=checkbox],
.n_board_gallery .board_desc input[type=checkbox] {
    max-width: 17px;
    max-height: 17px;
    margin: 0 3px 0 10px;
    vertical-align: middle;
}


/*****************************************************************
글쓰기 : 상단입력내용(작성자,비번,제목등..) & 글목록 : 관리자체크박스
*****************************************************************/
.n_board_txt .board td input,
.n_board_gallery .board td input {
    width: 100%;
    border: 1px solid #ddd;
    background-color: transparent;
    height: 34px;
    padding: 3px 5px;
    margin: 1px 0;
}

.n_board_txt .board td input[type=file],
.n_board_gallery .board td input[type=file] {
    max-width: 500px;
    border: 0px solid #ddd;
}

.n_board_txt .seLayout,
.n_board_gallery .seLayout {
    border: none;
}


/*****************************************************************
글쓰기 : 전화번호, 휴대폰, 라디오버튼, 체크박스
*****************************************************************/
.n_board_txt .board td input[name^=phone],
.n_board_txt .board td input[name^=mobile],
.n_board_gallery .board td input[name^=phone],
.n_board_gallery .board td input[name^=mobile] {
    max-width: 80px;
    width: 100%;
}

.n_board_txt .board td input[type=radio],
.n_board_txt .board td input[type=checkbox],
.n_board_gallery .board td input[type=radio],
.n_board_gallery .board td input[type=checkbox] {
    width: 20px;
    margin: 0 3px 0 10px;
    vertical-align: middle;
}


/*****************************************************************
글쓰기 : textarea
*****************************************************************/
.n_board_txt .seLayout #descriptionView_IFRAME,
.n_board_gallery .seLayout #descriptionView_IFRAME {
    border: 1px solid #ddd;
}


/*****************************************************************
글쓰기 : 확인버튼
*****************************************************************/
.n_board_txt .bbsnewf5 input[type=image],
.n_board_gallery .bbsnewf5 input[type=image] {
    width: auto;
    vertical-align: top;
    padding: 0px;
    border: 0px solid #f00;
}


/*****************************************************************
글쓰기 : 취소버튼 & 글보기 : 버튼들
*****************************************************************/
.n_board_txt .bbsnewf5 > a img,
.n_board_gallery .bbsnewf5 > a img {
    border: 0px solid #f00;
    vertical-align: top;
}

/*****************************************************************
게시판 sns 공유 버튼
*****************************************************************/
.n_board_txt .board_sns{
    display: flex;
    position: relative;
    top: -34px;
    left: 115px;
}

.n_board_txt .board_sns li{
    margin-right: 4px;
}

.n_board_txt .board_sns li a{
    width: 100px;
    height: 34px;
    background-color: #001632;
    color: #fff;
    text-align: center;
    display: block;
    padding: 9px 0;
    font-size: 10px;
}


/*****************************************************************
글목록 : 셀렉트박스
*****************************************************************/
.n_board_txt .est_cate_cell select,
.n_board_gallery .est_cate_cell select {
    width: 120px;
    height: 34px;
    margin: 1px 0;
    border: 1px solid #c3c3c3;
}


/*****************************************************************
글쓰기 : 셀렉트박스
*****************************************************************/
.n_board_txt .board_desc > select,
.n_board_gallery .board_desc > select {
    width: 180px;
    height: 34px;
    margin: 1px 0;
    border: 1px solid #c3c3c3;
}


/*****************************************************************
글목록 : 검색어입력
*****************************************************************/
.n_board_txt .est_keyword_cell input[name=com_board_search_value],
.n_board_gallery .est_keyword_cell input[name=com_board_search_value] {
    max-width: 150px;
    height: 34px;
    margin: 0 1px;
    padding: 0 5px;
    border: 1px solid #c3c3c3;
}


/*****************************************************************
글목록 : 검색버튼
*****************************************************************/
.n_board_txt .est_btn_cell input[title=input],
.n_board_gallery .est_btn_cell input[title=input] {
    border: 0px solid #ddd;
    padding: 0px;
}


/*****************************************************************
글목록 : 관리자 로그인시 게시물체크박스
*****************************************************************/
.n_board_txt .bbschk input[type=checkbox] {
    width: 17px;
    height: 17px;
}


/*****************************************************************
갤러리목록 : 관리자 로그인시 게시물체크박스
*****************************************************************/
.n_board_gallery .adminCheck {
    position: relative;
    width: auto;
}
.n_board_gallery .adminCheck .adminCheckBox {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 0px;
    width: 20px;
}


/*****************************************************************
갤러리목록 > 댓글목록 : 관리자 로그인시 게시물체크박스
*****************************************************************/
.n_board_gallery .comment_name > .adminCheckBox {
    position: relative;
    display: inline-block;
}


/*****************************************************************
갤러리목록 : 이미지사이즈
*****************************************************************/
.n_board_gallery .nSize img {
    width: 100%;/**/
    height: auto;/**/
    padding: 5px 3px;
}

.n_board_gallery .nSize:hover img {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0.8;
}



/*****************************************************************
갤러리목록 : 텍스트컬러(기타&추가항목)
*****************************************************************/
.gallery_etc {
    color: #666 !important;
}


/*****************************************************************
갤러리형 게시판 : 각각의 칸영역(2단,3단,4단 등..)
*****************************************************************/
.n_board_gallery .boxArea {
    padding-bottom: 50px;
    vertical-align: top;
}

/*****************************************************************
갤러리형 게시판 > 목록페이지 : 최상단라인
*****************************************************************/
.n_board_gallery .boxArea > font > font > font > table:first-child td {
    background-color: #fff;
}

/*****************************************************************
갤러리형 게시판 > 최상단라인 & 기타영역 컬러
*****************************************************************/
.n_board_gallery > table .boxArea > table > tbody > tr > td {
    background-color: #fff;
    vertical-align: top;
}









/*****************************************************************
글목록 : 최상단 라인영역
*****************************************************************/
.board_top_line {
    background-color: #555;
    height: 1px;
}


/*****************************************************************
글목록 : 최상단 구분영역
*****************************************************************/
.n_board_txt .board .boardTitBar {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 0.875em;
    height: 40px;
}

.n_board_txt .board .boardTitBar .att_title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n_board_txt .boardTitBar td:first-child {
    width: 80px;
}



/*****************************************************************
텍스트형 게시판 : 롤오버 선택컬러
*****************************************************************/
.n_board_txt .tr_line,
.n_board_gallery .tr_line {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.n_board_txt .tr_line:hover {
    background-color: #eee;
}

.n_board_txt .board tr{}


/*****************************************************************
글목록 : 행 높이
*****************************************************************/
.n_board_txt .tr_line td {
    font-size: 1.0em;
    padding: 10px 5px;
}


/*****************************************************************
글목록 : 항목들 : 작성자,작성일자,조회수 등
*****************************************************************/
/* 제목 */
.n_board_txt .tr_line td.bbsnewf5 {
    max-width: 70%;
    width: 70%;
}

/* 기타 : 제목 이외 항목들 */
.n_board_txt .tr_line td:not(.bbsnewf5) {
    font-size: 0.875em;
    color: #888;
    white-space: nowrap;
    text-overflow: ellipsis;
/*    border: 1px solid #f00;*/
}
.n_board_txt .bbsupload_image {
    width: 100px;
    height: 100px;
    padding: 10px;
}







/*****************************************************************
글보기 : 이미지사이즈 100%
*****************************************************************/
.n_board_txt #post_area,
.n_board_gallery #post_area {
    width: 100%;
    height: auto;
    padding: 10px 0px 30px;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    text-align: left;
}

.n_board_txt #post_area > img,
.n_board_gallery #post_area > img {
    width: 100% !important;
    height: 100% !important;
}


#post_area object{
    width: 100%;
}



@media screen and (max-width: 425px) {
    .n_board_txt #post_area img,
    .n_board_gallery #post_area img {
       /* width: 100% !important;
        height: 100% !important;*/
    }
}



/* 하단 목록이미지 */
.n_board_gallery .image_sublist {
    display: none;
}







/*****************************************************************
글보기 : embed : 동영상게시판
*****************************************************************/
.n_board_txt #post_area embed,
.n_board_gallery #post_area embed {
    width: 100%;
    border: 0px solid #f00;
}
@media screen and (max-width: 991px) {
    embed {
        height: 500px;
    }
}
@media screen and (max-width: 768px) {
    embed {
        height: 400px;
    }
}
@media screen and (max-width: 425px) {
    embed {
        height: 250px;
        width : 350px;
    }
}



/*****************************************************************
글보기 : 에디터 테이블
*****************************************************************/
.board_description table {
    border-collapse: collapse !important;
}
.board_description table,
.board_description tr,
.board_description td {
    border: 1px solid #ccc;
    padding: 3px;
}




/*****************************************************************
셀렉트박스 : 공통
*****************************************************************/
.n_board_txt select,
.n_board_gallery select {
    width: 100px;
    max-width: 100%;
    padding: 3px;
    font-size: 0.875em;
    color: #555;
}


/*****************************************************************
글쓰기 : 하단버튼그룹의 상단여백
*****************************************************************/
.n_board_txt .nbButton,
.n_board_gallery .nbButton {
    margin-top: 30px;
    border: 0px solid #f00;
}


/*****************************************************************
글보기 : 게시물평가기능
*****************************************************************/
.board_rate {
    width: 100%;
}


/*****************************************************************
글보기 : 하단버튼영역
*****************************************************************/
.veiwBottonArea {
    margin: 0 0 20px;
}

.veiwBottonArea a {
    display: inline-block;
}


/*****************************************************************
카테고리 영역 : 셀렉트박스형
*****************************************************************/
.categoryArea {
    text-align: left;/* left, right, center */
    margin-bottom: 10px;
}

.categoryArea img {
    display: none;
}

.categoryArea b {
    display: none;/* none, inline-block */
    vertical-align: top;/* top, middle, bottom */
    font-weight: normal;
    font-size: 0.875em;
    color: #555;
}

.categoryArea select {
    width: 180px;
    height: 34px;
}


/*****************************************************************
카테고리 영역 : 탭버튼형(가로노출형)
*****************************************************************/
.sul_menu {
    overflow: hidden;
    zoom: 1;
    margin: 0 0 30px;
    padding: 20px 10px;
    border: 1px solid #ccc;
}
.sul_menu a,
.sul_menu a font {
/*    vertical-align: middle;*/
    font-family: 'Noto Sans KR';
    font-size: 13px !important;
    padding: 0 0 0 3px;
}
.sul_menu img  {
    padding: 0 0 5px 5px;
}


/*****************************************************************
게시판 : 페이징
*****************************************************************/
.paging {
    font-size: 0.875em;
}

.paging b {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px 8px;
    text-align: center;
    font-weight: normal;
    color: #000;
}

.paging a {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px 8px;
    text-align: center;
    color: #888;
}



/*****************************************************************
댓글영역 : 이름,내용,시간
*****************************************************************/
.commentArea {
    font-size: 0.875em;
    color: #888;
    border: 1px solid #eee !important;
}

.comment_name {
    width: 150px !important;
}

.comment_view {
/*    width: auto;*/
    overflow-x: hidden;
    padding: 10px;
}

.comment_hour {
    width: 100px;
    padding: 3px 0;
}



@media (max-width:768px) {
    
    /*****************************************************************
    텍스트형 게시판 : 노출항목 & 목록사이즈
    *****************************************************************/
    .n_board_txt .board .boardTitBar {
        display: none;
    }
    
    .n_board_txt .tr_line td {
        display: none;
    }
    
    
    /*****************************************************************
    글목록 : 노출항목
    *****************************************************************/
    .n_board_txt .tr_line td.bbschk {
        position: absolute;
        left: 5px;
        display: inline-block;
    }
    
    .n_board_txt .tr_line td.bbsno {
        width: 15%;
        display: inline-block;
        float: left;
    }
    
    .n_board_txt .tr_line td.bbsnewf5 {
        width: 65%;
        display: inline-block;
        margin-top: -1px;
        float: left;
/*
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
*/
    }
    
    .n_board_txt .tr_line td.bbswriter {
        width: 20%;
        display: inline-block;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    
    /*****************************************************************
    갤러리형 게시판 : 목록이미지
    *****************************************************************/
    .n_board_gallery .boxArea {
        display: block;
        width: 100%;
    }
    .n_board_gallery .nSize img {
        padding: 5px 0px 0;
    }
    
    
    
    /*****************************************************************
    댓글영역 : 이름,내용,시간
    *****************************************************************/
    .comment_name {
        width: 150px;
        display: block;
        border: 0px solid #f00;
    }
    
    .comment_view {
/*        width: 100px;*/
        display: block;
        border: 0px solid #f00;
    }
    
    .comment_hour {
        width: 100px;
        border: 0px solid #f00;
    }
    
}













/*****************************************************************
추출게시물 : 공통
*****************************************************************/
/**/
.nav-tabs {
    margin: 0 0 8px;
}
.nav-tabs > li {
    margin-top: 2px;
}

/**/
.n_output {
    position: relative;
    font-size: 1.0em;
}

.n_output h3 {
    height: 40px;
    margin: 2px 0 8px;
    padding: 15px 5px 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 1.0em;
}

.n_output span.more {
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 0.875em;
}
.tab-content .n_output span.more {
    position: absolute;
    top: -36px;
    right: 0px;
    font-size: 0.875em;
}

.n_output table {
    width: 100%;
}


/*****************************************************************
추출게시물 : 텍스트형
*****************************************************************/
.n_output_txt .board_output {
    text-align: left;
}


/* 추출게시물 : 게시글 상하줄간격 */
.n_output_txt .board_output .board_output tbody > tr > td {
    padding: 3px 0;
    height: 36px;
    font-size: 1.0em;
    border-bottom: 1px dotted #ccc;
}

.n_output_txt .board_output tbody > tr > td:nth-child(3) {
    text-align: right;
    font-size: 0.875em;
    color: #888;
    line-height: normal;
}

.n_output_txt .board_output img {
    display: none;
}



/*****************************************************************
추출게시물 : 갤러리형
*****************************************************************/
.n_output_gallery .board_output {
    text-align: center;
}


/* 갤러리형 : 게시물 칸칸수 (관리자설정페이지 설정값 적용) */
.n_output_gallery .board_output > tbody > tr > td {
    padding: 5px 3px 5px;
    vertical-align: top;
    width: 100px;
}


/* 갤러리형 : 텍스트정보 */
.n_output_gallery .board_output > tbody > tr > td span a {
    display: inline-block;
    padding: 5px;
    line-height: 140%;
    font-size: 1.0em;
    color: #555;
}


/* 갤러리형 : 배경컬러 (마우스오버시 보임) */
.n_output_gallery .board_output .board_output_gallery_img {
    background-color: rgba(100, 100, 100, 0.8);
}


/* 갤러리형 : 이미지사이즈 */
.n_output_gallery .board_output .board_output_gallery_img .board_output_imgs {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    height: auto;
}


/* 갤러리형 : 마우스오버시 투명도 */
.n_output_gallery .board_output .board_output_gallery_img .board_output_imgs:hover {
    opacity: 0.5;
}


@media screen and (max-width: 425px) {
    .n_output_gallery .board_output > tbody > tr > td {
        display: block;
        width: 100%;
        padding: 0 0 30px;
    }
}










/*****************************************************************
폼메일
*****************************************************************/
.np_form {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding-top: 10px;
    margin-bottom: 50px; 
}
.np_form .form_inq{
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}
.np_form > table {
    width: 100%;
    text-align: left;
    border: 0px solid #f00;
        background: rgba(255,255,255,0.3);
}
.np_form > table > tbody > tr > td > table > tbody > tr:first-child {
/*    border-top: 1px solid #fff;*/
}

.np_form input[class=formmail_border] {
    width: 95%;
    border: 1px solid #ccc;
    background-color: transparent;
    height: 36px;
    padding: 3px 5px;
    margin: 1px 0;
}

.np_form > table > tbody > tr > td > table > tbody > tr > td{
    height: 0;
}


.np_form input[name=address_post1] {
    width: 120px;
}

.np_form td.formmail_title_bgcolor {
    width: 20%;
    height: 38px;
    background-color: #ffffff;
/*    border-top: 1px solid #fff;*/
    font-size: 0.875em;
    color: #555;
}

.np_form td.formmail_cell_bgcolor {
    width: 80%;
    padding: 0px !important;
    font-size: 0.875em;
}

.np_form select[name=category] {
    width: 95%;
}
.np_form select {
    width: 100px;
    padding: 3px 5px;
    height: 36px;
    margin: 1px 0;
    border: 1px solid #ccc;
}

.np_form td.formmail_cell_bgcolor textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 95%;
}

.np_form td.formmail_cell_bgcolor textarea:focus{
    outline: none;
}




.np_form input[type=file] {
    border: none;
    display: inline-block;
    font-family: 'arial';
    font-size: 12px;
    width: 50%;
}

.np_form input[name^=phone],
.np_form input[name^=mobile] {
    max-width: 68px;
    width: 100%;
}

.np_form input[type=radio],
.np_form input[type=checkbox] {
    width: 19px;
    height: 19px;
    margin: 0px 3px 0 5px;
    vertical-align: middle;
}


/*개인정보 동의*/
.np_form td.formmail_cell_bgcolor .personalInformation textarea {
    width: 100%;
/*    margin: 1px 0;*/
    border: 1px solid #ccc;
    height: 260px;
    padding: 15px 0px 0px 15px!important;
    
}

.np_form .personalInformation {
    margin: 40px 0 0 0 !important;
    font-size: 0.875em;
    color: #888;
}

.np_form .personalInformation input[name=com_formmail_check_safe] {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}



/* 하단버튼영역 */
.formButton {
    margin: 10px 0 15px;
    border: 0px solid #f00;
}

.formButton a{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 3px 15px;
    margin-left: 5px;
    
}



/*****************************************************************
스팸등록방지 : 게시판 & 폼메일
*****************************************************************/
.captcha td {
    padding: 10px !important;
    font-size: 0.875em;
    border: 0px solid #f00;
}

.captcha td:first-child {
    background-color: #f7f7f7;
}

.captcha td img {
    max-width: 100%;
    display: inline-block;
}

.captcha input[name=captcha_code] {
    width: auto !important;
    height: 36px;
}

/**/
.comment_txt {
    background-color: #fff !important;
}
.comment_txt input[type=text],
.comment_txt input[type=password],
.comment_txt input[name=captcha_code] {
    height: 36px;
    border: 1px solid #ccc;
}

.comment_txt input[name=com_board_comment_name],
.comment_txt input[name=com_board_comment_password] {
    width: 100px;
}

.comment_txt > div {
    width: 100%;
    margin: 5px 0;
    text-align: left !important;
}




/*****************************************************************
일정관리 : 목록보기
*****************************************************************/
/* 목록보기 */
.np_schedule {
/*    border: 1px solid #f00;*/
}
.np_schedule iframe {
    display: none;
}

.np_schedule .schedule_title > a > img {
    vertical-align: middle;
    padding: 3px 10px 10px 10px;
}

.np_schedule img {
    max-width: 100%;
}

.np_schedule_tit {
    height: 40px;
    font-size: 0.875em;
    background-color: #fff;
    color: #001632;
    border: 1px solid #001632;
}
.np_schedule_tit.sun {
    background-color: #001632;
    color: #fff;
    
}
.np_schedule_tit.sat {
    background-color: #001632;
    color: #fff;
}

.np_schedule .schedule_write_title {
    background-color: #eee;
    width: 20%;
}

.np_schedule input {
    width: auto;
    display: inline-block;
}

.np_schedule .schedule_write_title {
    min-width: 20%;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}

.np_schedule .schedule_write_cell {
    font-family: 'Noto Sans KR';
    vertical-align: middle;
    padding-left: 10px;
}

.np_schedule td#schedule1,
.np_schedule td#schedule2,
.np_schedule td#schedule3 {
    vertical-align: top;
    padding: 5px;
}
.np_schedule td#schedule2,
.np_schedule td#schedule3{
    background: #fff;
    border: 1px solid #001632;
    box-sizing: border-box;
    color:#001632!important;
     font-weight:400;
}
.np_schedule td#schedule2 a,
.np_schedule td#schedule3 a{
    color:#001632!important;
     font-weight:400;
}
.np_schedule td#schedule1{
    background: #001632;
    color: #fff!important;
   
}
.np_schedule td#schedule1 a,.np_schedule td#schedule1 a:link,
.np_schedule td#schedule1 a:visited{
    color: #fff!important;
     font-weight:400;
}


/*****************************************************************
일정관리 : 내용보기
*****************************************************************/
/* 내용보기 */
.np_schedule .schedule_view {
    padding: 20px 0;
    border-bottom: 1px dotted #555;
}
.np_schedule input[type=text],
.np_schedule input[type=password] {
    height: 34px;
    padding: 5px;
    border: 1px solid #bbb;
}
.np_schedule textarea {
    max-width: 100%;
    margin: 5px 0;
    height: 100px;
    padding: 10px;
    border: 1px solid #bbb;
}
.np_schedule .veiwBottonArea {
    margin: 30px 0;
    border: 0px solid #f00;
}

/*상세 페이지 탭//////////////////*/

.sticky{
    position: sticky;
    top:50px;
    background: #fff;
    z-index: 10;
}
@media screen and (max-width:991px){
    #sticky{top:101px;}
}

.sticky .st_list{
    display: flex;
}

.sticky .st_list li a{
    padding: 13px 15px;
    display: block;
    color:#fff;
    text-align: center;
}

@media screen and (max-width:442px) {
    .sticky .st_list{font-size: 10px;}
    .sticky .st_list li a{padding:7px 10px;}
}

.sticky .st_list li{
    flex:1;
    margin: 0 2px; 
    background: #001632;
    text-align: center;
}
.sticky .st_list.non_spec li:nth-child(2){
    display: none;
}
.sticky .st_list.non_rel li:nth-child(4){
    display: none;
}
.sticky .on{display: none;}

.content{
    position: relative;
}



/*****************************************************************
멀티탭 : 공통
*****************************************************************/
.n_tab .nav-tabs {
    margin: 0 0 8px;
    border-bottom: none;
}
.n_tab .nav-tabs.nav_b{
    margin-top: 20px;
}
.n_tab .nav-tabs li {
    margin-top: 2px;
}

/* grid : 메뉴갯수 */
.n_tab > ul.grid2 > li {
    width: 50%;
}
.n_tab > ul.grid3 > li {
    width: 33.33%;
}
.n_tab > ul.grid4 > li {
    width: 25%;
}
.n_tab > ul.grid5 > li {
    width: 20%;
}
.n_tab > ul.grid6 > li {
    width: 16.66%;
}
.n_tab > ul.grid7 > li {
    width: 14.28%;
}
.n_tab > ul.grid8 > li {
    width: 12.50%;
}
.n_tab > ul.grid9 > li {
    width: 11.11%;
}
.n_tab > ul.grid10 > li {
    width: 10%;
}




@media screen and (max-width: 768px) {
    .n_tab .nav-tabs > li > a {
        font-size: 0.750em;
    }
}






/*****************************************************************
추가페이지 : 여분페이지
*****************************************************************/
.np_add_page {
    height: 500px;
    padding-top: 100px;
    text-align: center;
    border: 10px solid #ddd;
    color: #111
}






/*****************************************************************
n_table : 기본테이블
*****************************************************************/
.n_table {
    width: 100%;
    border-top: 3px solid #666;
    border-collapse: collapse;
    table-layout: fixed;
}
.n_table caption {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.n_table tbody {
    vertical-align: middle;
}
.n_table th,
.n_table td {
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    padding: 10px;
}
.n_table th {
    background-color: #f0f0f0;
    text-align: center;
    word-break: break-all;
}
.n_table td {
    background-color: #fff;
    text-align: left;
    word-break: break-all;
}

.n_table p {
    background-color: #fff;
    text-align: left;
    
}






/*****************************************************************
쇼핑몰 : 주문서작성
*****************************************************************/
#content .radio,
.checkbox {
    display: inline-block;
    vertical-align: middle;
/*    background-color: #f00;*/
}

@media (max-width: 768px) {
    #content input[name=oaddress_01],
    #content input[name=oaddress_02],
    #content input[name=omail],
    #content input[name=address],
    #content input[name=address_01] {
        width: 100%;
    }
}

#content img {
/*    display: none;*/
    max-width: 100%;
}






/*****************************************************************
쇼핑몰 : 검색결과 페이지
*****************************************************************/
.nt_imgArea_shop {
/*    height: 250px;*/
}
.nt_productresult {
/*    border: 1px solid #f00;*/
}

.nt_productresult .product_result_txt {
    font-size: 1.125em;
}
.nt_productresult .product_result_txt .highlight {
    font-size: 2.0em;
    color: #111;
}

/**/
.nt_productresult .box1 {
    overflow: hidden;
    margin: 20px 0 0;
    padding: 20px;
    border: 1px solid #ddd;
}
.nt_productresult .box1 .bx_center {
    overflow: hidden;
    padding: 10px;
/*    border: 1px solid #f00;*/
}

.nt_productresult .bx_product_result .no_result {
    margin: 0px;
    height: 30px !important;
/*    border: 1px solid #f00;*/
}
.nt_productresult .bx_product_result .more_result,
.nt_productresult .bx_product_result .more_result2 {
    width: 100%;
    border: 0px;
    padding: 10px 0 0;
    font-size: 1.0em;
}

.nt_productresult .bx_product_result .more_result{
    margin-bottom: 250px;
}

.nt_productresult .bx_product_result .result_product {
    cursor: pointer;
    padding: 3px 0 0 15px !important;
    width: 30%;
    height: 30px;
}


.nt_productresult .bx_product_result .text {
    width: 200px;
    height: 32px;
    padding: 5px;
    border: 1px solid #ccc;
}


/* 검색상품목록 */
.nt_productresult .n_result_list {
    margin: 50px 0 0;
}
.nt_productresult .result_list th {
    height: 40px;
}
.nt_productresult .bx_product_result .range {
    width: 100% !important;
    border: none;
}

.nt_productresult .n_result_list .subject img{border-bottom:1px solid #cbcbcb;}


.nt_productresult .result_list .txt_info{cursor: pointer;}


@media screen and (max-width: 500px){
    .nt_productresult .product_result_txt{
        font-size: 1em;
        text-align: left;
    }
    .nt_productresult .box1{
        margin: 5px 0 0;
        padding: 10px;
    }

    .nt_productresult .n_result_list{
        margin: 30px 0 0;
    }
    .nt_productresult .bx_product_result .more_result2{
        padding: 0;
        margin: 0 auto;
    }
    .nt_productresult .bx_product_result .more_result2 input{
        width: 70%;
    }
    .nt_productresult .bx_product_result .result_product {
        width: 75%;
    }
    .nt_productresult .result_list th{
        
    }
    .nt_productresult .result_list th:last-child{
        display: none;
    }
    .result_list .subject{
        height: 120px;
        padding: 0 !important;
        display: flex;
    }
    .result_list .txt_info{
        height: 30px !important;
        padding: 20px 0 0 15px!important;
        margin: 5px !important;
        width: 50% !important;
    }
}



/*****************************************************************
쇼핑몰 : 메인화면 > 상품목록
*****************************************************************/
.shopMain {
    display: block;
    padding: 10px 0 0;
}

.shopMain td {
    vertical-align: top;
    padding: 5px !important;
    width: 14%;/* 14%, 16%, 20%, 25%, 33% */
}
.shopMain td #photo_info {
    padding: 0 0 30px;
    font-size: 0.875em;
    color: #999;
}

.shopMain img {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    height: auto;
}
.shopMain img:hover {
    opacity: 0.8;
}

@media screen and (max-width: 991px) {
    .shopMain td {
        display: inline-block;
        width: 49.5%;
    }
}





/*****************************************************************
쇼핑몰 : 목록페이지
*****************************************************************/
.box2 {
    width: 100%;
    background: none;
}

#product_list {
    text-align: center;
    vertical-align: top;
    padding-bottom: 50px;
    width: 25%;
}

#product_list a {
    font-size: 0.875em;
    color: #111;
    display: inline-block;
    padding: 5px;
}

#product_list a img {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    height: auto;
}
#product_list a img:hover {
    opacity: 0.8;
}

#product_list span {
    font-size: 0.875em;
    color: #333;
    font-weight: normal;
}

#product_list_tle {
    float: left;
    padding: 29 0 5 9
}

#product_list_sort {
    text-align: right;
    width: 100%;
    border-bottom: 1px solid #eee;
    height: 25px;
    margin-bottom: 10px;
    font-size: 0.875em;
    color: #222;
}

#product_list_sort a {
    color: #999;
    display: inline-block;
    padding-bottom: 3px;
}

#product_list_sort span {
    color: #fff;
    display: inline-block;
    padding: 0 3px 3px;
}


/* 페이징 : 이전,다음 버튼 */
#page,
#page2 {
    text-align: center;
    font-size: 0.875em;
    font-weight: normal;
    letter-spacing: 1;
    padding: 10px;
    color: #222;
}

#page img,
#page2 img {
    display: none;
    vertical-align: middle;
    letter-spacing: 3;
    margin-top: -2;
}

#page a,
#page2 a {
    font-weight: normal;
    color: #444444;
    font-weight: bold;
}

#page span,
#page2 span {
    display: inline-block;
    background-color: #ddd;
    border-radius: 2px;
    padding: 5px 8px;
    font-weight: normal;
    color: #333;
}






/*****************************************************************
쇼핑몰 : 상세페이지
*****************************************************************/
/* 기본 좌우영역 */
.np_detailView {
    margin-top: 10px;
    display: block;
    overflow: hidden;
    border: 0px solid #f00;
}

#product_img {
    float: left;
    width: 50%;
    height: auto;
    margin: 0 auto 30px;
    text-align: center;
    border: 0px solid #f00;
}

#product_info {
    float: right;
    width: 50%;
    padding-left: 50px;
    text-align: left;
    border: 0px solid #f00;
}

#product_img .np_imgArea img {
    width: 500px;
    height: auto;
}


/* 쇼핑몰 > 상품상세 : 썸네일 */
#nail {
    margin: 5px;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#nail a:link {
    font-size: 11px;
    color: #666666
}

#nail a:visited {
    font-size: 11px;
    color: #666666
}

#nail img {
    border: 1px solid #CACACA;
    margin: 2;
    cursor: hand;
    width: 50px;
    height: 50px
}

/*#nail_wrap{
     position: absolute;
     top: 100px;
     left: 100px;
     width: 100%;
     height: 100%;
}*/

#nail_photo{
    position: absolute;
    top: -30px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}



/* 쇼핑몰 > 상품상세 : 정보,버튼 */
#product_info input,
#product_info select {
    min-width: 150px;
    height: 30px;
}

#product_info input[name=order_count] {
    text-align: right;
    padding-right: 5px;
}

#product_info .n_btnSet {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

#product_info .n_btnSet button {
    font-size: 1.0em;
    margin-bottom: 5px;
    border-radius: 3px;
    color: #555;
}

.backspace_btn{
    position: relative;
    left: 2.2px;
    top: -1.142px;
}


#product_info .n_btnSet button.btn-color {
    background-color: #444;
    border: 1px solid #444;
    color: #fff;
}

#product_info .n_btnSet button.btn-color:hover {
    background-color: #111;
}

.product_tle {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
    border-top: 1px solid #222;
    border-bottom: 1px dotted #ddd;
}

.product_txt1 {
    width: 25%;
    padding: 5px 0;
    color: #888;
}

.product_txt2 {
    width: 75%;
    padding: 5px 0;
    color: #333;
}

.product_txt2 span {
    font-size: 0.875em;
    color: #aaa;
    vertical-align: middle;
}

.product_price {
    color: #222;
}

#price_result {
    font-weight: bold;
    color: #c00;
}





/* 쇼핑몰 : 상품상세설명영역(탭메뉴영역) */
#product_content {
    margin: 30px auto 50px;
    border: 0px solid #f00;
}

#product_content .tab-content #menu2,
#product_content .tab-content #menu3 {
    font-size: 1.0em;
    color: #666;
    line-height: 200%;
}

#product_content img {
    max-width: 100%;
}

#product_content .tab-content {
    padding-top: 20px;
}


/* 쇼핑몰 > 상품상세 : 마이페이지 */
#txtbox_info {
    border: 10px solid #f4f4f4;
    padding: 20px;
    font-size: 1.0em;
    color: #888;
}

.order_tle {
    margin: 0 0 10px 0;
}

#total_order {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background: #eee;
    line-height: 24px;
    text-align: right;
    color: #555;
}

#total_order #sum_price {
    font-size: 1.25em;
    color: #da0000;
    font-weight: bold;
}

#total_order #sum {
    font-size: 1.25em;
}

#infobox {
    border: 2px solid #E4E4E4;
    padding: 12px 12px 0 12px;
    color: #666666
}


.t_01 {
    border-collapse: collapse;
    border-top: 1px solid #222;
    border-right: 1px solid #ddd;
}

.t_01 th {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: #f6f6f6;
    font-weight: normal;
    font-size: 0.875em;
    color: #555;
}

.t_01 td {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: #ffffff;
    font-size: 0.875em;
    color: #555;
}

@media screen and (max-width: 991px) {
    #product_img { width: 100%; }
    #product_info { width: 100%; padding: 0px; }
    #product_info .n_btnSet button { width: 100%; }
}


/*********************************************
seminar_box : 세미나 페이지 제목 가운데 정렬
**********************************************/
.seminar_box{
    margin:70px 0;
}
.seminar_box h2{
    text-align: center;
    font-weight: 400;
    font-size: 1.78em;
    color: black;
}
.seminar_box p{
    margin: 10px 0;
    text-align: center;
    color: black;
}
.seminar_box .button{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    margin: auto;
    padding: 10px 0;
    
}

.seminar_box .button a{
    color: black;
    font-weight: 500;
}

/*****************************************************************
nFulid : 여백제거
*****************************************************************/
.container-fluid.nFluid > .row,
.container-fluid.nFluid > div > .row {
    margin: 0;
}
.container-fluid.nFluid,
.container-fluid.nFluid > .row,
.container-fluid.nFluid > .row > div,
.container-fluid.nFluid > div > .row > div {
    padding: 0;
}





/**************************************************************
뉴스레터 페이지
***************************************************************/
.newsletter{
    width: 700px;
    margin: 50px auto;
}
.newsletter .n_formStyle121{
    border:none;
}
.newsletter .title h2{
    text-align: center;
    font-size: 3.5em;
    padding: 20px 0;    
}
.newsletter .title p{
    text-align: center;
    font-size: 1.25em;
    padding: 5px 0;   
}
.newsletter .n_formStyle121 tbody tr{
    margin: 5px 0;
    height: 50px;
}
.newsletter .n_formStyle121 tbody tr input{
   margin: 5px 0;    
}
.newsletter .n_formStyle121 tbody tr font{
    font-size: 1.5em;
    font-weight: 600;
}
.newsletter .n_formStyle121 .formmail_title_bgcolor{
    width:18%;
}
.newsletter .n_formStyle121 .formmail_cell_bgcolor{
    width: 72%;
}
.newsletter .n_formStyle121 .formmail_cell_bgcolor input[type=text]{
    margin-left: 10px;
    height: 70%;
}
.newsletter .n_formStyle121 .button{
    background-color: #001632;
    width: 200px;
    margin: auto;
    text-align: center;
}
.newsletter .n_formStyle121 .button a{
    display: block;
    padding: 15px 0;
    color: #fff;
    font-size: 1.1em;
}
.newsletter .personalInformation tbody tr:first-child{
    height: 30px;
    font-size: 1.2em;
}