@charset 'utf-8';




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

ol, ul, li {list-style-type: none;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
 
ol, ul {
    list-style: none;
}
 
blockquote, q {
    quotes: none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}





/*****************************************************************
기타추가
*****************************************************************/
a,
img,
input {
    outline: none !important;
    selector-dummy: expression(this.hideFocus=true) !important;
}

a {
    font-size: 100%;
    color: #555;
    text-decoration: none;
}



a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

textarea {
    width: 100%;
}

.n_maximg {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
   
}

img {
    max-width: 100%;
}



/*****************************************************************
여백 설정
*****************************************************************/
.pt10 {padding-top: 10px !important;}
.pt20 {padding-top: 20px !important;}
.pt30 {padding-top: 30px !important;}
.pt40 {padding-top: 40px !important;}
.pt50 {padding-top: 50px !important;}
.pt60 {padding-top: 60px !important;}
.pt70 {padding-top: 70px !important;}
.pt80 {padding-top: 80px !important;}
.pt90 {padding-top: 90px !important;}
.pt100 {padding-top: 100px !important;}

.pb10 {padding-bottom: 10px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb50 {padding-bottom: 50px !important;}
.pb60 {padding-bottom: 60px !important;}
.pb70 {padding-bottom: 70px !important;}
.pb80 {padding-bottom: 80px !important;}
.pb90 {padding-bottom: 90px !important;}
.pb100 {padding-bottom: 100px !important;}

.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}
.mt70 {margin-top: 70px !important;}
.mt80 {margin-top: 80px !important;}
.mt90 {margin-top: 90px !important;}
.mt100 {margin-top: 100px !important;}

.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb70 {margin-bottom: 70px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb100 {margin-bottom: 100px !important;}






/*****************************************************************
드래그 선택 블록색상
*****************************************************************/
::selection {
    background:#aaa;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background:#aaa;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background:#aaa;
    color: #FFF;
    text-shadow: none;
}





/*****************************************************************
bootstrap 버튼 : 기본버튼 변형
*****************************************************************/
/* 버튼 */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}





/*****************************************************************
슬라이드 1,2,3 : 좌우링크버튼 투명배경
*****************************************************************/
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}








/********************************
* grid_9 : hot selling
*********************************/
.grid_9 .box{
    border-radius: 25px;
    background: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    height: 290px;
    width: 290px;
    
}
.grid_9 .big{
    height: 610px;
    width: 610px;
}

.grid_9 .box .imgArea{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -5px;
    padding-right: 5px;
}




.grid_9 .row div .box .txtArea{
    padding-left: 13px;
    padding-top: 15px;
}
.grid_9 .row div .box.big .txtArea{
    padding-left: 24px;
    padding-top: 27px;
}
.grid_9 .row div .box.big .txtArea p{
    font-size: 1.8em;
}
.grid_9 .box .txtArea h3{
    color: #00A8E3;
    font-size: 1.75em;
}
.grid_9 .row:first-child .box h3{
    font-size: 2.0em;
}
.grid_9 .row div .box .txtArea p{
    color: black;
    font-size: 1.45em;
    text-align: left;
    font-weight: 500;
}
.grid_9 .row div .box .txtArea .num{
    margin-bottom: 8px;
}
.grid_9 .row div .box .txtArea .name{
    font-size: 1.2em;
    font-weight: 400;
}






