@charset 'utf-8';

:root {
  --main-color: #001632;
};

#ms03 .row{position: relative;}
/*****************************************************************
de03 : 슬라이드 (이미지만 사용 : 정비율적용)
*****************************************************************/
.de03 .carousel-inner {
    position: relative;
    z-index: 1;
}

.de03 #myCarousel3 .arrow_g{
    width: 80px;
    height: 35px;
    position: absolute;
    top: 40px;
    right: 5%;
    border-radius: 10px;
    z-index: 12;
    background: linear-gradient(#ffffff, #eee);
    box-shadow: 0 0 9px #e1e1e1;
}

.de03 .carousel-control .glyphicon-chevron-left{
    position: relative;
    top: -4px;
    right: 20px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {left: 92%;}

.de03 .carousel-control .glyphicon-chevron-right{
    position: relative;
    top: -4px;
    right: 20px;
}


.de03 .carousel-control .glyphicon-chevron-left::after{
    background-color: #e1e1e1;
    width: 1px;
    height: 25px;
    position: absolute;
    left: 38px;
    top: -5.3px;
    z-index: 19;
    content: '';
}


.de03 .carousel-control .glyphicon-chevron-right,.de03 .carousel-control .glyphicon-chevron-left{
    font-size: 15px;
}

.de03 #myCarousel3 .carousel-control{  
    text-shadow: 0 1px 2px;
    opacity: 1;
    color: #777;
    top: 6.5px !important;
}

.de03 .carousel .carousel-inner img {
    width: 100%;
    height: auto;
}

/*수정부분 */
.de03 #myCarousel3 .carousel_g{
    border-radius: 15px;
    position: absolute;
    /*top:calc(80% + 70px);*/
    top: 51.2px;
    left: 115.8%;
    width: 46px;
    height: 33px;
    z-index: 16;
}

.de03 #myCarousel3 .carousel_g > li{
    display: block;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height:33px;;
    line-height: 32px;
    background: none;
    border: none;
    color: #111;
    font-size: 1.15em;
    opacity: 0;
}

.de03 #myCarousel3 .carousel_g > li.active{
    opacity: 1;
}

.de03 .carousel-caption{
     bottom: 15%;  
}

.de03 .item3 .carousel-caption{
    bottom: 0;
}

.tooltip-link{
    position: relative;
}

.tooltip-link[data-tooltip]:not([data-tooltip=""])::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(0,0,0,0.55);
    color: #fff;
    padding: 10px 7px;
    border-radius: 10px;
    width: 120px;
    left: 20%;
    top: 75%;
    opacity: 0;
    transition: all 0.5s linear;
    font-size: 10px;
}

.tooltip-link:hover[data-tooltip]:not([data-tooltip=""])::before {
    opacity: 1;
}


.de03 .carousel-caption.moto{
    display: block;
    bottom: 9%;
    left:calc(7% + 0px);
    padding: 3px;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
    text-align: left;
}

.de03 .carousel-caption.moto .box{
    width: 80%;
}

.de03 .carousel-caption.moto p{
    color: #000;
    font-size: 1.25em;
    letter-spacing: 1px;
}

.de03 .carousel-caption.moto strong {
    font-size: 1.24em;
}

.de03 .carousel-caption.moto .ab-logo {
    width: 2.5%;
}

.de03 .carousel-caption.moto .full {
   background: #031a33;
   padding: 0.9% 1.1%;
   color: #fff;
   font-weight: bold;
}

.de03 .carousel-caption.moto .null {
   border: 2px solid #031a33;
   padding: 0.6% 1.1%;;
   font-weight: bold;
}

.de03 .carousel-caption.moto .margin {
    margin-top: 15px;
}

.de03 .carousel-caption.moto .pp_g{
    margin-top: 16px;
}

.de03 .carousel-caption.moto .pp2{
    margin-top: 70px;
    font-weight: 600;
    font-size: 1.65em;
}

.de03 .carousel-caption .box .btn{
    color:#000;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px 40px;
}

.de03 .carousel-caption .box .btn:hover{
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

@media screen and (max-width: 1100px){
    .de03 .carousel-caption.moto p {font-size:0.8em;}
}

@media screen and (max-width: 1300px){
    .de03 .carousel-caption.moto {bottom: 5%;}
    .de03 .carousel-caption.moto p {font-size:0.9em;}
}

@media screen and (max-width: 1600px){
    .de03 .carousel-caption.moto {bottom: 5.5%;}
    .de03 .carousel-caption.moto p {font-size:1em;}
}

@media screen and (max-width: 1800px){
    .de03 .carousel-caption.moto p {font-size:1em;}
}


/*neb_slide*/
.de03 .neb_slide{
    top: 18.5%;
    left: 12%;
}

.de03 .slide14_contents{
    background-color: rgba(255,255,255,0.35);
    width: 1400px;
    height: 500px;
    border-radius: 18px;
    margin: 0 auto;
}

.de03 .slide14_grid{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 10px 20px;
    position: relative;
}

.de03 .neb_app{
    width: 280px;
    height: 80px;
    background-color: red;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 30px;
    position: relative;
}

.de03 .neb_app div{
    position: absolute;
    top: 40px;
    left: 9px;
    background-color: #fff;
    border-radius: 10px;
    width: 260px;
    height: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.de03 .neb_app > div span{
    color: #1c1c1b;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    width: 100px;
}

.de03 .neb_app1 {
    background:url("../_des/de03/neb_app/neb_app.jpg");
}

.de03 .neb_app:hover {
    transform: scale(1.07);
    transition: all 1s;
    z-index: 99;
    color: #000;
}

.de03 .neb_app2{
    background:url("../_des/de03/neb_app/neb_app_2.jpg");
}
.de03 .neb_app3{
    background:url("../_des/de03/neb_app/neb_app_3.jpg");
}
.de03 .neb_app4{
    background:url("../_des/de03/neb_app/neb_app_4.jpg");
}
.de03 .neb_app5{
    background:url("../_des/de03/neb_app/neb_app_5.jpg");
}
.de03 .neb_app6{
    background:url("../_des/de03/neb_app/neb_app_6.jpg");
}
.de03 .neb_app7{
    background:url("../_des/de03/neb_app/neb_app_7.jpg");
}
.de03 .neb_app8{
    background:url("../_des/de03/neb_app/neb_app_8.jpg");
}

.de03 .neb_app9{
    background:url("../_des/de03/neb_app/neb_app_9.jpg");
}
.de03 .neb_app10{
    background:url("../_des/de03/neb_app/neb_app_10.jpg");
}
.de03 .neb_app11{
    background:url("../_des/de03/neb_app/neb_app_11.jpg");
}
.de03 .neb_app12{
    background:url("../_des/de03/neb_app/neb_app_12.jpg");
}
.de03 .neb_app13{
    background:url("../_des/de03/neb_app/neb_app_13.jpg");
}
.de03 .neb_app14{
    background:url("../_des/de03/neb_app/neb_app_14.jpg");
}
.de03 .neb_app15{
    background:url("../_des/de03/neb_app/neb_app_15.jpg");
}
.de03 .neb_app16{
    background:url("../_des/de03/neb_app/neb_app_16.jpg");
}
/*neb_slide 종료*/



.de03 .item3 .row{
    padding: 0 50px;
}

.de03 .item3 .row .col-sm-1, ,.de03 .item3 .row .col-sm-2, .de03 .item3 .row .col-sm-4{
    height: 145px;
}

.de03 .item3 .row .col-sm-1> a, .de03 .item3 .row .col-sm-2 > a, .de03 .item3 .row .col-sm-4 > a{
    height: 145px;
    display: block; 
}

.de03 .item3 .carousel-caption{
    width: 100%;
    left: 0;
    top: 10%;
}

@media screen and (max-width: 1700px) {
    .de03 .neb_slide{
        top: 18%;
        left: 13%;
    }
    .de03 .slide14_contents{
        width: 1200px;
        height: 430px;
    }
    .de03 .slide14_grid{
        grid-template-columns: repeat(4,180px);
        grid-gap: 5px 92.5px;
    }
    .de03 .neb_app{
        width: 220px;
        height: 60px;
        margin-left: 80px;
        margin-top: 30px;
    }
    .de03 .neb_app:hover {
        transform: scale(1.05);
    }
    .de03 .neb_app div{
        top: 40px;
        left: 10px;
        width: 200px;
        height: 40px;
    }
    .de03 .neb_app > div span{
        font-size: 12.5px;
        line-height: 20px;
    }
    
    .item2 .slide_brand{
        grid-template-columns: repeat(5,190px);
        height: 100px;
    }
 
    .de03 .carousel-caption.moto p{
        font-size: 1em;
    }
     
}

@media screen and (max-width: 1500px) {
    .de03 .neb_slide{
        top: 18%;
        left: 12%;
    }
    .de03 .slide14_contents{
        width: 1100px;
        height: 400px;
    }
    .de03 .slide14_grid{
        grid-template-columns: repeat(4,220px);
        grid-gap: 10px 35px;
    }
    .de03 .neb_app{
        width: 180px;
        height: 50px;
        margin-left: 80px;
        margin-top: 30px;
    }
    .de03 .neb_app:hover {
        transform: scale(1.07);
    }
    .de03 .neb_app div{
        top: 35px;
        left: 12px;
        width: 160px;
        height: 40px;
    }
    .de03 .neb_app > div span{
        font-size: 11.5px;
        line-height: 18px;
    }
    .item2 .slide_brand{
        grid-template-columns: repeat(5,170px);
    }
    .banner_hover{
        height: 180px;
    }
    .de03 .carousel-caption.moto p{
        font-size: 0.9em;
    }
    .tooltip-link[data-tooltip]:not([data-tooltip=""])::before {
        top: 50%;   
    }
   
}

@media screen and (max-width: 1300px) {
    .de03 .neb_slide{
        top: 18%;
    }
    .de03 .slide14_contents{
        width: 1000px;
        height: 350px;
    }
    .de03 .slide14_grid{
        grid-template-columns: repeat(4,200px);
        grid-gap: 0px 19px;
    }
    .de03 .neb_app{
        width: 180px;
        height: 50px;
        margin-left: 80px;
        margin-top: 30px;
    }
    .de03 .neb_app:hover {
        transform: scale(1.07);
    }
    .de03 .neb_app div{
        top: 25px;
        left: 12px;
        width: 160px;
        height: 40px;
    }
    .de03 .neb_app > div span{
        font-size: 10px;
        line-height: 10px;
    }

    .item2 .slide_brand{
        grid-template-columns: repeat(5,160px);
    }
    
    .de03 .carousel-caption.moto{
        bottom: 7%;
    }
    
    .de03 .carousel-caption.moto p{
        font-size: 0.8em;
    }
    .tooltip-link[data-tooltip]:not([data-tooltip=""])::before {
        top: 40%;   
    }
}

@media screen and (max-width: 1200px) {
    .de03 .neb_slide{
        top: 16%;
    }
    .de03 .slide14_contents{
        width: 900px;
        height: 310px;
    }
    .de03 .slide14_grid{
        grid-template-columns: repeat(4,175px);
        grid-gap: 0px 18px;
    }
    .de03 .neb_app{
        width: 160px;
        height: 40px;
        margin-left: 80px;
        margin-top: 30px;
    }
    .de03 .neb_app:hover {
        transform: scale(1.05);
    }
    .de03 .neb_app div{
        top: 15px;
        left: 12px;
        width: 140px;
        height: 40px;
    }
    .de03 .neb_app > div span{
        font-size: 10px;
        line-height: 10px;
    }
    
    .de03 .carousel-caption.moto{
        bottom: 19%;
    }
    
    .item2 .slide_brand{
        grid-template-columns: repeat(5,140px);
        grid-gap: 10px;
    }
    .de03 .carousel-caption.moto{
        bottom: 3%;
    }
    
    .de03 .carousel-caption.moto p{
        font-size: 0.75em;
    }
}

@media screen and (max-width: 1060px) {
    .item2 .slide_brand{
        grid-template-columns: repeat(5,120px);
        grid-gap: 10px;
    }
    .banner_hover{
        width: 260%;
    }
    .de03 .carousel-caption.moto{
        bottom: 1%;
    }
    .de03 .carousel-caption.moto p{
        font-size: 0.05em;
    }

}

@media screen and (max-width: 550px) {
    .de03 {
        display: none;
    }
          
}





/*********************************************
  상단 quick 메뉴
************************************************/
.ms03 .container-fluid .row{
    position: relative;
}

.rowgroup {
    position: absolute;
    left: 23.3%;
    width: 53%;
    z-index: 10;
    bottom: -6%;
}
.rowgroup .quick {
    display: flex;
    flex-wrap: wrap;    
    border-radius: 15px;
    box-shadow: 0px 10px 20px 6px rgb(0 0 0 / 7%);
    align-items: center;
    justify-content: center;
    background: #fff;      
}

.rowgroup .quick li{
    flex: 1;
    cursor: pointer;
}

/*
.rowgroup .quick li:nth-child(-n+3) a {
    border-bottom: 1px solid #eee;
}
*/

.rowgroup .quick li a {
    display: block;
    font: 400 18px/22px "Poppins", "Noto Sans KR", sans-serif;
    color: #111;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.2s;
    align-items: center;
    padding: 16.5% 5%;
    /* white-space: nowrap; */
    word-break: keep-all;
    text-align: center;
}
/*
.rowgroup .quick li a::before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 90px;
    transition: all 0.2s;
}
*/
.rowgroup .quick li a::after{
    display: inline-block;
    content: '';
    width: 1px;
    height: 60px;
    background: #eee;
    position: absolute;
    left: 0;
    top: 0;
        
}
.rowgroup .quick li a span.text {
    display: block;
    font: 300 15px/20px "Poppins", "Noto Sans KR", sans-serif;
    color: #888;
    word-break: keep-all;
}
.rowgroup .quick li:hover{
    background: #fff;
    border-radius: 10px;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px 6px rgb(0 0 0 / 6%);
}

@media screen and (max-width:991px){
    .rowgroup{
        display: none;
    }
}

/*****************************************************************
de04 : 추출게시물1
*****************************************************************/
.de04 {
    border-top: 1px solid #d2d2d2;
    padding-top: 20px;
    margin-bottom: 50px;
}

.de04 .row:first-child .news_box{
    width: 100%;
    height: 100%;
    background: #001632;
    color: white;
    padding: 20px 20px 15px 20px;
    position: relative;
}

.de04 .row:first-child .news_box p{
    font-size: 1.3em;
    margin-top: 15px;
}

.de04 .row:first-child .news_box span{
    display: block;
    color: white;
    width: 100%;
    margin: 80px auto 0;
    border: 1px solid white;
    text-align: center;
    padding: 6px 0;
}

.de04 .row iframe{
    width: 100%;
}

.de04 .n_tab{
    max-height: 230px;
    overflow: hidden;
}


@media screen and (max-width: 1300px) {
        .de04 .row:first-child .news_box span{
            margin: 60px auto 0;
        }
    }

@media screen and (max-width: 500px) {
    .de04 .row:first-child .news_box{
        height: 150px;
        margin-bottom: 20px;
    }
    .de04 .row:first-child .news_box h1{
        font-size: 1.3em;
    }
    .de04 .row:first-child .news_box p{
        font-size: 1em;
    }
    .de04 .row:first-child .news_box span{
        margin: 25px auto 0;
    }
    .de04 .row iframe{
        height: 150px;
        margin-bottom: 20px;
    }
    .de04 .n_tab {
        height: 129px;
        overflow: hidden;
    }
    .de04 .nav .active{
        font-size: 0.75em;
    }
}
.de04 .n_tab .nav-tabs > li > a{
    transition: all 0.2s;
    margin-right: 1px;
    background-color: #001632;
    border-bottom: 1px solid #ddd; 
    padding: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.875em;
    text-align: center;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.de04 .n_tab .nav-tabs > li.active > a,
.de04 .n_tab .nav-tabs > li.active > a:hover,
.de04 .n_tab .nav-tabs > li.active > a:focus{
    color: #001632; 
    transition: all 0.2s ;
    cursor: default; 
    background-color: #fff; 
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0em;
    font-weight: 500;
}

.de04 .n_tab #sticky ul li a:hover{  
    transition: all 0.2s ;
    box-shadow: 0px 0px 0px 0px #fff;
    margin-top: 0;
    margin-bottom: 0;
}

/*****************************************************************
de08 : 3단형
*****************************************************************/
/*
.de08 {
    margin: 0px 0px;
    text-align: left;
}
.de08 .row > div {
    margin: 0 0 30px;
}
.de08 .row > div > a{
    display: block;
    background:rgba(255,255,255,0.4);
}
.de08 .row > div .imgArea {
    overflow: hidden;
    margin: 15px 0;
    background:rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.de08 .row > div .imgArea .new{
    display: block;
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 37px;
    z-index: 2;
    color:orange;
    font-size: 1.7em;
    text-align: center;
    line-height: 55px;
    box-shadow: 0 0 10px rgba(229, 201, 121, 0.5)
}

.de08 .row > div .imgArea img {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    width: 300px;
    
}
.de08 .row > div:hover .imgArea img {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}


.de08 .row > div .txtArea {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    width: 81%;
    margin: auto;
    padding: 10px 0;
    position: relative;
    transform: translateY(-30px);
    height: 70px;
    background-color: #f3f3f3;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
}

.de08 .row > div .txtArea p {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    font-size: 1.0em;
    color: gray;
    text-align: center;
}
.de08 .row > div .txtArea p.brand{
    color:black;
    font-weight: 600;
    font-size: 1.3em;
}

@media screen and (max-width: 500px) {
    .de08 .col-sm-4 .imgArea{
        width: 230px;
    }
    .de08 .row > div{
        margin: 0 15px 25px;
    }
    .de08 .row > div .imgArea{
        margin: 0 auto;
        background: rgba(255,255,255,1);
        position: relative;
    }
    .de08 .row > div .imgArea .new{
        width: 50px;
        height: 50px;
        font-size: 1.3em;
        line-height: 50px;
        position: absolute;
        top: 4px;
        right: 3px;
    }
    .de08 .row > div .imgArea img{
        padding: 15px 30px 30px 30px;
    }
    .de08 .row > div .txtArea{
        height: 50px;
        width: 70%;
    }
    .de08 .row > div .txtArea p.brand{
        font-size: 1em;
    }
    .de08 .row > div .txtArea p{
        font-size: 0.8em;
    }
    .de08 .row > div > a{
        width: 100%;
        margin: 0 auto;
        border-radius: 2px;
    }
    
}*/

/*****************************************************************
de10 : 예약문의(메인폼메일)
*****************************************************************/
.de10 {
    position: relative;
    width: 100%;
}

.de10 .np_form.n_formStyle01 {
    color: #fff;
    border: none;
    padding-top: 0px;
}
.de10 .np_form > table > tbody > tr > td > table > tbody > tr:first-child {
    border-top: 1px solid transparent;
}
.de10 .np_form.n_formStyle01 input[class=formmail_border] {
    border: 1px solid rgba(200, 200, 200, 0.6);
    background-color: transparent;
}
.de10 .np_form.n_formStyle01 td.formmail_title_bgcolor {
    background-color: rgba(200, 200, 200, 0.1)!important;
    border-top: 1px solid rgba(200, 200, 200, 0.2);
    color: #fff;
}
.de10 .np_form.n_formStyle01 td.formmail_cell_bgcolor {
    width: 80%;
    padding: 0px !important;
    background:transparent!important;
}
.de10 .np_form.n_formStyle01 select {
    border: 1px solid rgba(200, 200, 200, 0.6);
    background-color: transparent;
    color: #fff;
}
.de10 .np_form.n_formStyle01 select option {
    color: #000;
}
.de10 .np_form.n_formStyle01 td.formmail_cell_bgcolor textarea {
/*    height: 200px !important;*/
    background-color: transparent;
    border: 1px solid rgba(200, 200, 200, 0.6);
}

/*개인정보 동의*/
.de10 .np_form.n_formStyle01 td.formmail_cell_bgcolor .personalInformation {
    color: rgba(200, 200, 200, 0.7);
}
.de10 .np_form.n_formStyle01 td.formmail_cell_bgcolor .personalInformation textarea {
    border: 1px solid rgba(200, 200, 200, 0.6);
/*    height: 47px !important;*/
}

/* 버튼(send) */
.de10 .np_form.n_formStyle01 button {
    margin: 10px;
    width: 100px;
    background-color: #a00000;
    border: 0px;
    border-radius: 2px;
    font-size: 1.0em;
    color: #fff;
}
.de10 .np_form.n_formStyle01 button:hover {
    background-color: #8b0000;
}


/*****************************************************************
de15 : 불규칙블록:브랜드 인포메이션
*****************************************************************/
.de15 .con {
    position: relative;
    margin: 0 0 30px;
    display: table;
    vertical-align: middle;
    width: 100%;
    background-size: cover;
    background-position: center center;
    /*border: 5px solid #fff;*/
}

.de15 .con2{
    background-position: center 47%!important;
}
.de15 .con3{
    background-position: center 60%!important;
}
.de15 .con5{
    background-position: center 43%!important;  
}
.de15 .con6{
    background-position: center 48%!important;  
}
.de15 .con7{
    background-position: center 69%!important;  
}

.de15 .con10{
    background-position: center 48%!important;
}
.de15 .con11{
    background-position: center 51%!important;
}

.de15 .con_txt {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: rgba(0, 0, 0, 0.3);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 130px;
}
.de15 .col-sm-12 .con_txt{
    height: 200px;
}
.de15 .con_txt:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.de15 .con span {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    font-size : 20px;
}
.de15 .con .current_neb{
    position: absolute;
    top: 18px;
    right: 10px;
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.de15 .con0_1 .current_neb{
    position: absolute;
    top: 47px;
    left: 10px;
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.de15 .con .current_neb span,.de15 .con0_1 .current_neb span{
    padding: 5px;
    border: none;
    font-size: 14px;
    color: rgba(34,34,34,0.96);
}
.de15 .con0_1 .current_neb span{
    color: rgba(255, 255, 255, 0.8);
    font-size: 15.5px;
}
.de15 .con:hover span {
    padding: 30px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    color: rgb(255, 255, 255);
}

.de15 .con:hover .current_neb span{
    padding: 5px;
    border: none;
}


@media (max-width:500px) {
    .de15 .con{
        margin: 0 0 10px;
    }
    .de15 .con_txt{    
        height: 60px;
    }
    .de15 .col-sm-12 .con_txt{
        height: 60px;
    }
    .de15 .col-sm-12 .current_neb span{
        display: none;
    }
    .de15 .con span{
        padding: 9px;
        font-size: 10px;
    }
    .de15 .con:hover span{
        padding: 12px;
    }
    .de15 .de15_grid{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .de15 .de15_azure{
        padding-right: 5px; 
    }
    .de15 .de15_denovix{
        padding-left: 5px;
    }

}

/*****************************************************************
de109 : sales promotion
*****************************************************************/
.de109 .img{
    width:100%;
    height: 130px;
    margin-bottom: 20px;
}

.de109 .s_img {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.de109 .s_img:hover .promotion_hover {
    visibility: visible;
}

.de109 .s_img:hover .promotion_before{
    visibility: hidden;
}

.de109 .promotion_hover{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.de109 .s_img .img_g{
    width:100%;
    height: 238px;
}

.de109 .s_img .img_g .after{
    opacity: 0;
}
.de109 .s_img .img_g img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.de109 .s_img .txt_g{
    padding: 10px 10px 5px;
    text-align: left;
    height: 110px;
    background: #F6F6F3;
    font-size: 1.025em;
    box-sizing: border-box;
}

.de109 .txt_g .brand{
    color:#002f43;
    font-size: 1.25em;
    font-weight: 600;
}

.de109 .txt_g .name{
    height: 40px;
}

.de109 .s_img .txt_g .view{
    border: 1px solid #d2d2d2;
    width: 40%;
    padding: 3px 14px;
    text-align: left;
    position: relative;
    bottom: -6px;
    right: -2px;
    float: right;
    box-sizing: border-box;
    font-size: 0.8em;
    color: #333;
}
.de109 .s_img .txt_g .view .plus{
    display: block;
    width: 30px;
    height: 100%;
    background:#002f43; 
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-left: 3px !important;
    padding: 2px;
}

.de109 a .sale{
    color: #fff;
    background: black;
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 50%;
    font-size: 1.0em;
    z-index: 10;
}

.de109 a .sale p{
    margin-top: 3px;
}
.de109 a .sale .none{
    margin-top: 13px;
    text-transform: uppercase;
}
.de109 a .sale .orange{
    color:orange;
    font-weight: 600;
    font-size: 1.1em;
}

.de109 .txt_g .name{
    font-size: 1.05em;
}

.de109 .s_img:hover .after{
    opacity: 1;
    transition: 0.5s;
}

.de109 .s_img:hover .view{
    background: #fff;
    color: #001632;
    padding-left: 15px;
    transition: 0.4s;
}

@media screen and (max-width: 1300px){
    .de109 .s_img .img_g{
        height: 187.71px;
    }
    .de109 .txt_g .brand{
        font-size: 1.2em;
    }
    .de109 .txt_g .name{
        font-size: 0.9em;
        padding-top: 5px;
    }
    .de109 .s_img .txt_g .view{
        font-size: 0.8em;
        bottom: -9px;
        right: -3px;
        width: 45%;
        padding: 3px 13px;
    }
    .de109 .s_img .txt_g .view .plus{
        padding: 0.25px 1px;
    }
}

@media screen and (max-width: 1200px){
    .de109 .s_img .img_g{
        height: 151.68px;
    }
    .de109 .txt_g .brand{
        font-size: 1.15em;
    }
    .de109 .txt_g .name{
        font-size: 0.85em;
        padding-top: 5px;
    }
    .de109 .s_img .txt_g .view{
        font-size: 0.7em;
        bottom: -12px;
        right: -3px;
        width: 48%;
        padding: 3px 11px;
    }
    .de109 .s_img .txt_g .view .plus{
        width: 20px;
        padding: 0.1px 0.5px;
    }
}

@media screen and (max-width: 992px){
    .de109 .col-sm-12{
        width: 50%;
    }
    .de109 .s_img .img_g{
        height: 112.05px;
    }
    .de109 .s_img .txt_g{
        padding: 10px 5px 5px;
    }
    .de109 .txt_g .brand{
        font-size: 0.9em;
    }
    .de109 .txt_g .name{
        font-size: 0.75em;
        padding-top: 5px;
    }
    .de109 .s_img .txt_g .view{
        font-size: 0.6em;
        bottom: -15px;
        right: -3px;
        width: 60%;
        padding: 3px 8px;
    }
    .de109 .s_img .txt_g .view .plus{
        width: 20px;
        padding: 0.1px 0.2px;
    }
}

@media screen and (max-width: 768px){
    .de109 .col-xs-6{
        width: 100%;
    }
    .de109 .promotion_img1{
        margin-bottom: 40px;
    }
    .de109 .promotion_img1 .row{
        display: flex;
        justify-content: center;
    }
    .de109 .img{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    .de109 .img a img{
        width: 100%;
    }
    .de109 .s_img {
        max-height: 400px;
    }
    .de109 .s_img .img_g{
        height: 240px;
    }
    .de109 .hover_box .box .img_g img{
        max-height: 358px;
    }
    .de109 .promotion_img2 .row{
        display: flex;
        justify-content: center;
    }
    .de109 .txt_g .brand{
        font-size: 1.1em;
    }
    .de109 .txt_g .name{
        font-size: 0.9em;
        padding-top: 5px;
    }
    .de109 .s_img .txt_g{
        padding: 10px 10px 5px;
    }
    .de109 .s_img .txt_g .view{
        font-size: 0.8em;
        bottom: -10px;
        right: -3px;
        width: 35%;
        padding: 3px 12px;
    }
    .de109 .s_img .txt_g .view .plus{
        width: 30px;
    }
}
    
@media screen and (max-width: 500px){
    .de109 .col-md-6{
        padding: 10px 8px;
        padding-bottom: 20px;
    }
    .de109 .col-sm-12{
        padding: 0 8px;
    }
    .de109 .promotion_img1 .s_img{
        width: 155px;
        margin: auto;
    }
    .de109 .s_img .img_g{
        height: 111px;
    }
    .de109 .promotion_img2 .s_img{
        width: 155px;
        margin: auto;
    }
    .de109 .txt_g .brand{
        font-size: 0.9em;
        padding-bottom: 3px;
    }
    .de109 .txt_g .name{
        font-size: 0.7em;
        height: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .de109 .s_img .txt_g{
        height: 90px;
    }
    .de109 .s_img .txt_g .view{
        width: 100px;
        font-size: 0.7em;
        margin: 0 auto;
        bottom: -5px;
        height: 20px;
    }
    .de109 .s_img .txt_g .view p{
        position: absolute;
        left: 8px;
        top: 2px;
        width: 80px;
    }
    .de109 .s_img .txt_g .view .plus{
        width: 20%;
        font-size: 13px;
    }
    .de109 a .sale{
        width: 40px;
        height: 40px;
        font-size: 0.75em;
        top: 4px;
        right: 4px;
    }
    .ms11{
        margin: 10px 0;
    } 
    .de109 .promotion_img2 .img{
        display: none;
    }
}

/*****************************************
 de110 : new product
**********************************************************/

.de110 .cover a .new{
    color: orange;
    display: block;
    background: black;
    width: 45px;
    height: 45px;
    text-align: center;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 50%;
    font-size: 1.2em;
}

.de110 .cover a .new p{
    margin-top: 10px;
}

/*****************************************************************
Hot Selling
*****************************************************************/
.hot2{
    margin-top: 40px;
}




/*****************************************************************
de196 : 모바일전용 배너
*****************************************************************/

.de196 img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 550px) {
    .de196{
        display: none;
    }
}

/*****************************************************************
de198 : NEB 모바일 카드
*****************************************************************/

.de198 .neb_mobile_box{
    margin-bottom: 25px;
}

.de198 .neb_mobile_box_cont{
    padding: 10px 0;
    color: #333;
}

.de198 .neb_mobile_box_link{
    color: #ca4a05;
    font-weight: 500;
}

/*****************************************************************
neb_card : NEB Support
*****************************************************************/


#neb_card .card-list .card {
   
    height: 100%;
}
#neb_card .card-list .card-body {
    padding: 1.5em 2em 2em;
    min-height: 140px;
    height: auto;
}

#neb_card  .card-list .card-body h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: .1px;
    color: #1d1d1f;
    font-family: 'Roboto', sans-serif;
}
#neb_card  .card-list .card-body p {
    opacity: .87;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: .1px;
    color: #383838;
    padding: 1em 0;
    font-family: 'Roboto', sans-serif;
}

#neb_card  .card-list .card-body a {
    opacity: .87;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.93;
    letter-spacing: .1px;
    text-align: right;
    color: #ca4a05;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}



#neb_card  .card-list .card-body .input-group-addon {
    background: #f2661b;
    color: #fff;
}

#neb_card .card-list .card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    background: #fff;
    }

#neb_card .input-group-addon:last-child {
    border-left: 0;
}
#neb_card .protocols-widget__search-submit {
    float: right;
    padding: 0;
    background: 0 0;
    border: none;
        position: relative;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: -6px;
    left: -5px;
    color: #fff;
}
@media screen and (min-width: 992px){
    .padding-8 {
    padding-left: 8px;
    padding-right: 8px;
}
#neb_card .card-list .card {
    background-color: #f6f6f3;
    border: 1px solid #f6f6f6;
    margin-bottom: 15px;
    }
#neb_card .card-list .card-body {
    min-height: 222px;
} 
#neb_card .card-list .card-img {
    display: block;
    max-height: 197px;
    }
}

/*****************************************************************
de196 : 모바일전용 배너
*****************************************************************/

.de196 img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 550px) {
    .de196{
        display: none;
    }  
}

/*****************************************************************
de198 : NEB 모바일 카드
*****************************************************************/

.de198 .neb_mobile_box{
    margin-bottom: 25px;
}

.de198 .neb_mobile_box_cont{
    padding: 10px 0;
    color: #333;
}

.de198 .neb_mobile_box_link{
    color: #ca4a05;
    font-weight: 500;
}

/*************************************************
de202 : 풀메뉴
**********************************************/
.all_menu .site-map .close_button{
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    width:55px;
    margin: 0 auto 30px;
    border: 2px solid #e5e5e5;
    padding: 7px;
    position: absolute;
    top: 5%;
    right: 5%;
    background: #fff;
}

.all_menu .site-map .hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #afa6a6;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.all_menu .site-map .hamburger:hover{
  cursor: pointer;
}

.all_menu .site-map #hamburger.is-active{
    transform-origin: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.all_menu .site-map #hamburger.is-active .line:nth-child(2){
  width: 0px;
}


.all_menu .site-map #hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

.all_menu .site-map #hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(90deg);
  -ms-transform: translateY(-10px) rotate(90deg);
  -o-transform: translateY(-10px) rotate(90deg);
  transform: translateY(-10px) rotate(90deg);
}

.all_menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1040;
    overflow-y: scroll;
    background: #fff;
    
}
.all_menu::-webkit-scrollbar{
    width: 6px;
}
.all_menu::-webkit-scrollbar-thumb{
     height: 3px;
    background-color: #001632;
    border-radius: 10px;
}
.all_menu::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}
.all_menu .site-map { 
    padding-top: 50px;
    height:auto;
    transition: width 0.95s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    background-color: #fff;
    background-image: url(https://philekorea.kr/default/img/_images/symbol.png) ;
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.all_menu .site-map h3{
    background:var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 10%;
    height: 100%;
}

.all_menu .site-map h3 span{
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
    letter-spacing: 8px;
    font-weight: 700;
    padding: 0 50px;
    box-sizing: border-box;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    line-height: 27px;
    text-align: center;
}

.all_menu .site-map h3 span:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 45px;
    display: block;
    width: 112px;
    height: 2px;
    margin-top: -1px;
    background: #fff;
}
.all_menu .site-map .full_menu {
  width: calc(100% - 100px);
    padding-left: 15%;
    padding-right: 5%;
}



.all_menu .site-map .full_menu .sub_map,
.all_menu .site-map .full_menu .map2{
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}
.all_menu .site-map .full_menu .map2{
    margin-top: 100px;
    padding-bottom: 100px;
}

.all_menu .full_menu .b_title {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 24px;
    border-bottom: 2px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 36px;
    color: #222;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.1em;
    margin-bottom:24px;
}
.all_menu .full_menu .b_title span{
        display: block;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #aaa;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 8.8px;
}

.all_menu .full_menu .set{
    padding-bottom: 30px;
    border-bottom: 1px solid #f1efef;

}

.all_menu .full_menu .set a,
.map2 .sub ul a{
    display: inline-block;
    height: 36px;
    font-size: 16px;
    color: #666;
    line-height: 36px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




.all_menu .full_menu .set .title {
color: var(--main-color);
font-weight: 600;
font-size: 1.95rem;                   
padding-bottom: 15px;
margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
                    }


.all_menu .full_menu .depth_menu a{
    color: #adabab;
    height: 22px;
    line-height:22px;
    font-size: 14px;
    
}

.all_menu .full_menu a:hover{
    color: #545353;
}



/******************************************************************
메인 페이지 인디케이터
**********************************************************************/

#indicator{
    position: fixed;
    top: calc(50% - 80px);
    left: 30px;
    z-index: 10000;
    transform: translateY(-50%);
    display: none;
}
#indicator #fp-nav.left ul li{
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    display: block;
    background: transparent;
    outline: 0;
    border-radius: 10%;
    box-sizing: border-box;
    margin: 0;
    opacity: 1;
    cursor: pointer;
    height: 30px;
}

#fp-nav.left li a{
   display: block;
   position: relative;
}

#fp-nav.left li a > span{
    display: block;
    width: 2px;
    background: #ff7d4d;
    height: 18px;
    position: absolute;
    top: 0px;
    left: -7px;
}

#fp-nav.left ul li .fp-tooltip{
    font-size: 1.35rem;
    left: auto;
    right: -25px;
    top: -7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#fp-nav.left ul li.active .fp-tooltip{
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff; 
}

#fp-nav.left li.active{
    padding: 3px 0;
}

#fp-nav.left li.active a span{
    border-radius: 8px;
    width: 115%;
    z-index: -1;
    box-shadow: 2px 3px 3px rgb(84 83 83 / 30%);
    height: 22px;
    top: -2px;
    transition: ease-in-out all 0.3s;
}

@media screen and (max-width:991px){
    #indicator{
        display: none;
    }
}
