@charset 'utf-8';




/*****************************************************************
전체폰트크기조절 : 14px 기본크기
*****************************************************************/
.ft_reset {
    font-weight: 400;/* 300, 400 */
    font-size: 13px;/* 14px, 15px, 16px ... */
    font-family: "Noto Sans KR", sans-serif;
/*    color: #f00 !important;*/
}

@media all and (max-width: 768px) {
    .ft_reset {
        font-size: 13px;
    }
}



/*****************************************************************
상단 버튼들 : 사용값 (block, none)
*****************************************************************/
/* 전화번호 */
.nt_phone {
    display: block;
}

/* 검색 */


/* 언어 */
.nt_language {
    display: none;
}

/* sns */
.nt_sns {
    display: block;
}

/* 로그인 */
.nt_login {
    display: block;
    width: 150px;
}

/* 쇼핑몰 버튼(상단) */
@media screen and (max-width: 991px) {
    /* 전화번호 */
    .nt_phone {
        display: block;
    }

    /* 검색 


    /* 퀵메뉴 */
    .nt_quick {
        display: none;
    }
    /* 언어 */
    .nt_language {
        display: none;
    }

    /* sns */
    .nt_sns {
        display: none;
    }

    /* 로그인 */
    .nt_login {
        display: block;
    }

    /* 쇼핑몰 버튼(상단) */
    .nt_shop {
        display: block;
    }
}






/*****************************************************************
하단 버튼들 : 사용시에는 아래 소스 삭제 또는 비활성화
*****************************************************************/
/* 어드민 버튼(하단) */
.adminbtn {
    display: block;
}

/* 쇼핑몰 버튼(하단) */
.shoppingmall {
    display: block;
}







/*****************************************************************
하단 정보 : 3단 중에서 1번째, 2번재, 3번째를 선택하여 삭제 / 이동
*****************************************************************/
#n_footer > .sec02 > .container > .row > div:nth-child(3) {
    display: none;
}
#n_footer > .sec02 > .container > .row > div:nth-child(2) {
    float: right;
}
@media all and (max-width: 991px) {
    #n_footer > .sec02 > .container > .row > div:nth-child(2) {
        float: left;
    }
}













